---
title: afrodyta
---
{% extends "app/pages/layout/_main.html" %}


{% block content %}

<!-- begin cart -->
<div class="cart js__cart">
	<div class="cart__top">
		<button class="cart__close js__cart__close">
			<i class="tf-ion-android-close"></i>
		</button>
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-1.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-2.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-3.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-4.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-5.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-6.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
		<!-- begin cart__item -->
		<div class="cart__item">
			<a href="#" class="cart__image">
				<img src="images/product-7.jpg" alt="">
			</a>
			<div class="cart__info">
				<button class="cart__itemremove js__cart__itemremove">
					<i class="tf-ion-android-close"></i>
				</button>
				<div class="cart__title">
					<a href="#">Говноступы</a>
				</div>
				<div class="cart__itemprice">
					1 x 1250.00
				</div>
			</div>
		</div>
		<!-- end cart__item -->
	</div>
	<div class="cart__bottom">
		<div class="cart__count">
			Итого: <span>5000&#8381;</span>
		</div>
		<div class="cart__buttons">
			<a href="#" class="cart__checkout">
				К корзине
			</a>
			<a href="#" class="cart__clear">
				Очистить
			</a>
		</div>
	</div>
</div>
<!-- end cart -->

<!-- begin wrapper -->
<div class="wrapper">

	<!-- begin header -->
	<header class="header">

			<!-- begin content -->
			<div class="content header__top-content js__header__top-content">

				<div class="header__top-wrapper">

					<div class="header__search-form js__header__search-form">
						<button class="header__search-close js__header__search-close">
							<i class="tf-ion-android-close"></i>
						</button>
						<form action="#">
							<input type="text" placeholder="Поиск..." class="header__search-input js__header__search-input">
						</form>
					</div>

					<!-- begin header__top -->
					<div class="header__top">

						<div class="header__contacts">

							<div class="header__phone">
								<i class="tf-ion-ios-telephone"></i>
								0129-12323-123123
							</div>

							<div class="header__city">
								<i class="tf-ion-android-navigate"></i>
								г. Санкт-Петербург, <br>ул. Пушкина, д. Колотушкина
							</div>

						</div>

						<div class="header__logo">
							<a href="/">
								<img src="images/header-logo.png" alt="">
							</a>
						</div>

						<div class="header__buttons">
							<a href="#" class="header__cart js__header__cart">
								<i class="tf-ion-android-cart"></i>
								Корзина
							</a>
							<a href="#" class="header__search js__header__search">
								<i class="tf-ion-ios-search-strong"></i>
								Поиск
							</a>
							<div class="header__language">
								<select name="#">
									<option>RU</option>
									<option>EN</option>
								</select>
							</div>
						</div>

					</div>
					<!-- end header__top -->

				</div>

			</div>
			<!-- end content -->

			<!-- begin content -->
			<div class="content header__bottom-content js__header__bottom-content">

				<!-- begin header__bottom -->
				<div class="header__bottom">
					
					<nav class="header__menu">
						<ul class="menu">
							<li><a href="#">Домой</a></li>
							<li><a href="#">Каталог</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Блог</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>

				</div>
				<!-- end header__bottom -->

			</div>
			<!-- end content -->

	</header>
	<!-- end header -->

	<!-- begin categories -->
	<section class="section categories">

		<!-- begin content -->
		<div class="content">

			<h1 class="section__title">
				Категории
			</h1>
		
			<!-- begin categories__layout -->
			<div class="categories__layout">

				<!-- begin categories__item -->
				<div class="categories__item small">

					<a href="#">

						<div class="categories__image" style="background-image: url('images/category-1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></div>
						<div class="categories__info">
							<div class="categories__title">
								Штеблеты
							</div>
							<div class="categories__viewmore">
								Посмотреть
							</div>
						</div>

					</a>

				</div>
				<!-- end categories__item -->

				<!-- begin categories__item -->
				<div class="categories__item small">

					<a href="#">

						<div class="categories__image" style="background-image: url('images/category-2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></div>
						<div class="categories__info">
							<div class="categories__title">
								Штеблеты
							</div>
							<div class="categories__viewmore">
								Посмотреть
							</div>
						</div>

					</a>

				</div>
				<!-- end categories__item -->
				
				<!-- begin categories__item -->
				<div class="categories__item big">

					<a href="#">

						<div class="categories__image" style="background-image: url('images/category-3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></div>
						<div class="categories__info">
							<div class="categories__title">
								Штеблеты
							</div>
							<div class="categories__viewmore">
								Посмотреть
							</div>
						</div>

					</a>

				</div>
				<!-- end categories__item -->

			</div>
			<!-- end categories__layout -->

		</div>
		<!-- end content -->

	</section>
	<!-- end categories -->

	<!-- begin popular -->
	<section class="section popular shopcarts">

		<!-- begin content -->
		<div class="content">
			
			<h2 class="section__title">
				Популярные товары
			</h2>

			<!-- begin shop__layout -->
			<div class="shopcart__layout">
				
				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__label">
							-50%
						</div>
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-4.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-5.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-6.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-7.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-8.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

				<!-- begin shop__item -->
				<div class="shopcart__item">
					
					<div class="shopcart__image" style="background-image: url('images/product-9.jpg'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
						<div class="shopcart__buttons">
							<a href="#" class="shopcart__look">
								<i class="tf-ion-ios-search"></i>
							</a>
							<a href="#" class="shopcart__addtowishlist">
								<i class="tf-ion-ios-heart"></i>
							</a>
							<a href="#" class="shopcart__addtocart">
								<i class="tf-ion-android-cart"></i>
							</a>
						</div>
					</div>

					<div class="shopcart__info">
						<a href="#">
							<div class="shopcart__title">
								Штеблеты
							</div>
							<div class="shopcart__price">
								&#8381;5000
							</div>
						</a>
					</div>

				</div>
				<!-- end shop__item -->

			</div>
			<!-- end shop__layout -->

		</div>
		<!-- end content -->

	</section>
	<!-- end popular -->

	<!-- begin register -->
	<section class="section register">

		<!-- begin content -->
		<div class="content">

			<div class="register__image" style="background-image: url('images/register.png'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
				<div class="register__info">
					Регистрируйся и получай бонусы!
				</div>
				<a href="#" class="btn white register__btn">
					Регистрация
				</a>
			</div>

		</div>
		<!-- end content -->

	</section>
	<!-- end register -->

	<!-- begin news -->
	<section class="section news">

		<!-- begin content -->
		<div class="content">
			
			<h4 class="section__title">
				Новости
			</h4>

			<!-- begin news__layout -->
			<div class="news__layout">

				<div class="news__image">
					<a href="#" style="background-image: url('images/news-1.png'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></a>
				</div>

				<div class="news__info">
					<a href="#" class="news__title">
						Pri att mediocrem corrumpit
					</a>
					<div class="news__text">
						<p>
							Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Но продолжил все злых собрал живет силуэт рот пунктуация лучше меня, своих которой букв за, речью наш если, своего дороге?
						</p>
						<a href="#" class="news__readmore">
							читать далее...
						</a>
					</div>
					
				</div>

			</div>
			<!-- end news__layout -->

		</div>
		<!-- end content -->
		
	</section>
	<!-- end news -->

	<!-- begin newsletter -->
	<section class="section newsletter">
		
		<!-- begin content -->
		<div class="content">

			<h4 class="section__title">
				Подписывайтесь на нашу рассылку
			</h4>

			<div class="newsletter__info">
				<p>
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль одна переписывается он которой домах залетают страну, подпоясал, всемогущая меня вдали ее предупредила но, курсивных своих дал толку буквенных.
				</p>
			</div>

			<div class="newsletter__form">
				<form action="#">
					<input required type="text" placeholder="Введите Электронную почту">
					<button type="submit">
						Подписаться сейчас
					</button>
				</form>
			</div>
			
		</div>
		<!-- end content -->

	</section>
	<!-- end newsletter -->

	<!-- begin instagram -->
	<section class="section instagram">
		
		<!-- begin content -->
		<div class="content">
			<h5 class="section__title">
				Наш instagram
			</h5>

			<div class="instagram__layout">
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6yAajqqG/">
						<img src="https://scontent.cdninstagram.com/vp/964efb2f865d9f5956876557d32eeaad/5DFA452C/t51.2885-15/e35/s320x320/17881944_1870879666501277_8740883433821044736_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6wUeDfGN/">
						<img src="https://scontent.cdninstagram.com/vp/9d4435bad753df2f309570b27528089b/5E0951FB/t51.2885-15/e35/s320x320/17934165_1855316838014922_1135093469023305728_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6t_iD8NZ/">
						<img src="https://scontent.cdninstagram.com/vp/e8d8527153158fb5b3ba6a9c71e5be73/5E39952F/t51.2885-15/e35/s320x320/17931908_100656457161041_2049190671436218368_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6sfIDzqp/">
						<img src="https://scontent.cdninstagram.com/vp/5c49509ba9351e117148dc33b0e1d83f/5E3A95A2/t51.2885-15/e35/s320x320/17934539_791911770972981_4386866225901207552_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6wUeDfGN/">
						<img src="https://scontent.cdninstagram.com/vp/9d4435bad753df2f309570b27528089b/5E0951FB/t51.2885-15/e35/s320x320/17934165_1855316838014922_1135093469023305728_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
				<!-- begin instagram__item -->
				<div class="instagram__item">
					<a href="https://www.instagram.com/p/BTB6yAajqqG/">
						<img src="https://scontent.cdninstagram.com/vp/964efb2f865d9f5956876557d32eeaad/5DFA452C/t51.2885-15/e35/s320x320/17881944_1870879666501277_8740883433821044736_n.jpg?_nc_ht=scontent.cdninstagram.com">
					</a>
				</div>
				<!-- end instagram__item -->
			</div>
		</div>
		<!-- end content -->

	</section>
	<!-- end instagram -->

	<!-- begin footer -->
	<footer class="footer">
		
		<!-- begin content -->
		<div class="content">

			<!-- begin footer__social -->
			<div class="footer__social">
				<ul>
					<li>
						<a href="#">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- end footer__social -->

			<!-- begin footer__menu -->
			<div class="footer__menu">
				<ul>
					<li><a href="#">Домой</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<!-- end footer__menu -->
			
			<!-- begin footer__copy -->
			<div class="footer__copy">
				Afrodyta/Aviato &#9400; 2019
			</div>
			<!-- end footer__copy -->

		</div>
		<!-- end content -->

	</footer>
	<!-- end footer -->

	<button class="up js__up">
		<i class="tf-ion-ios-arrow-up"></i>
	</button>

</div>
<!-- end wrapper -->

{% endblock %}